.content {
  max-width: 1080px;
  margin: 0px auto;

  .example {
    .change-header {
      display: grid;
      grid-template-columns: 200px auto;
      i {
        align-self: center;
      }
    }
  }
}
